body {
  margin: auto;
}
ul li {
  display: inline;
}
.option {
  background-color: transparent;
  border: transparent;
  margin-left: 20px;
}
.pk {
  height: 12px;
  width: 22px;
  margin-top: -5px;
}
.main {
  padding-top: 10px;
  background-color: rgb(170, 169, 169);
  height: 45px;
  font-size: 13px;
}
.align {
  float: right;
  background-color: transparent;
  border: transparent;
  outline: 1px solid transparent;
}
.bag {
  float: right;
  height: 20px;
  width: 15px;
  margin-right: 20px;
}
.fix {
  padding-left: 20px;
  position: fixed;
  background-color: darkgray;
  height: 20px;
  width: 120px;
}
.move {
  margin-left: 100px;
  color: black;
}
